<?xml version="1.0" encoding="utf-8" ?>
<web-app>
 <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>imitate.server.Demo</servlet-class>
 </servlet>
 <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url>/a</url>
 </servlet-mapping>

 <servlet>
  <servlet-name>login</servlet-name>
  <servlet-class>imitate.server.Demo</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>login</servlet-name>
  <url>/a</url>
 </servlet-mapping>
</web-app>